---
import { getCollection } from 'astro:content';
import Layout from '../_layout.astro';
import { Image } from 'astro:assets';

const allPosts = await getCollection('blog');
---

<Layout>
  <h1>blog</h1>
  <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      allPosts
        .sort((a, b) => b.data.date.getUTCDate() - a.data.date.getUTCDate())
        .map((post) => (
          <a
            role="article"
            href={`/blog/${post.id}`}
            class="no-underline group"
          >
            <div class="relative not-prose">
              <Image
                src={post.data.image}
                alt={post.data.title}
                width={500}
                class="aspect-video mb-3 rounded-lg w-full"
              />
              <p class="text-sm text-white absolute bg-background/80 bottom-0 right-0 px-2 py-1 rounded-br-lg rounded-tl-lg inline-block">
                {`${post.data.date.getUTCFullYear()}-${(post.data.date.getUTCMonth() + 1).toString().padStart(2, '0')}-${post.data.date.getUTCDate().toString().padStart(2, '0')}`}
              </p>
            </div>
            <h2 class="m-0">{post.data.title}</h2>
          </a>
        ))
    }
  </section>
</Layout>

<style>
  h2 {
    margin-top: 0;
  }
</style>
